<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.kdcovid_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kdcovid_logo_white_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PhoneActivity"></activity>
        <activity android:name=".activity.FullNameActivity" />
        <activity android:name=".activity.ZipCodeActivity" />
        <activity android:name=".activity.NeighborhoodActivity" />
        <activity android:name=".activity.CityActivity" />
        <activity android:name=".activity.GenderActivity" />
        <activity android:name=".activity.PriorDiseasesActivity" />
        <activity android:name=".activity.AgeRangeActivity" />
        <activity android:name=".activity.Last14DaysActivity" />
        <activity android:name=".activity.SymptomDurationActivity" />
        <activity android:name=".activity.YesSymptomActivity" />
        <activity android:name=".activity.FeelingActivity" />
        <activity android:name=".activity.AgreementActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>