<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.kdcovid_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kdcovid_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SymptomDuration"></activity>
        <activity android:name=".activity.YesSymptom" />
        <activity android:name=".activity.Feeling" />
        <activity android:name=".activity.Agreement" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>